@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --green: #27ae60;
    --black: #444;
    --dark-color: #219150;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-align: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: with none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

section {
    padding: 5rem 9%;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.1rem;
    background: rgb(0, 0, 0, .1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    color: var(--black);
    padding: 5rem 2rem;
    position: relative;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;


}

.btn:hover {
    background: var(--dark-color);

}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

.header .header-1 {
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .header-1 .logo {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;

}

.header .header-1 .logo i {
    color: var(--green);
}

.header .header-1 .search-form {
    height: 5rem;
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.header .header-1 .search-form input {
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    color: var(--black);
    padding-left: 0.1rem;
    cursor: pointer;

}

.header .header-1 .search-form label:hover {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--green);
}

#search-btn {
    display: none;
}

.header .header-2 {
    background: var(--green);

}

.header .header-2 .navbar {
    text-align: center;
}

.header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-color);
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar {
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    color: #fff;
    padding: 3rem;
    font-size: 2.5rem;
    display: inline-block;
    width: 5%;


}

.bottom-navbar a:hover {
    background: var(--dark-color);
    transform: scale(1.1);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    padding: 2rem 3rem 2rem 3rem;
    margin-left: 10px;
    left: auto;
    right: auto;

}

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 105%;
    z-index: 10000;
    height: 100%;
    width: 100%;

}

.login-form-container.active {
    left: 0;
    transition: .3s linear;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
}

.login-form-container form span {
    font-size: 1.5rem;
    padding-top: 1rem;
    display: block;
}

.login-form-container form .box {
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
    width: 100%;

}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0 1rem 0;
}

.login-form-container form p {
    font-size: 8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a {
    color: var(--green);
    text-decoration: underline;
    cursor: pointer;
}

.login-form-container #close-login-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    color: var(--black);
    cursor: pointer;
}

.home .row {
    display: flex;
    align-items: center;
    gap: 20.5rem;
    flex-wrap: wrap;
}

.home .row .content {
    flex: 2 1 42rem;
}

.home .row .books-slider {
    flex: 12 1 42rem;
    text-align: center;
    margin-top: 2rem;

}

.home .row .books-slider a img {
    height: 20rem;


}

.home .row .books-slider a:hover img {
    transform: scale(.9);
}

.home .row .content h3 {
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
}

.home .row .content p {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.icons-container .icons {
    background: #fff;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.icons-container .icons i {
    font-size: 4rem;
    color: var(--green);
    padding-bottom: 1rem;
}

.icons-container .icons h3 {
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.icons-container .icons p {
    font-size: 1.5rem;
    color: var(--light-color);
}

.featured .featured-slider .box {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;

}

.featured .featured-slider .box:hover {
    border: var(--border-hover);
}

.featured .featured-slider .box .image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image {
    transform: translateY(1rem);
}


.featured .featured-slider .box .image img {
    height: 30rem;
}

.featured .featured-slider .box .icons {
    border-bottom: var(--box-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .box:hover .icons {
    transform: translateY(0%);
}


.featured .featured-slider .box .icons a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 3rem;

}

.featured .featured-slider .box .icons a:hover {
    background: var(--green);
    color: #fff;
    padding: 1.2rem 2.5rem;


}

.featured .featured-slider .box .content {
    padding: 1.5rem 2rem;
    font-size: var(--black);
}

.featured .featured-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--green);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--black);
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    background: #31ff80;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--green);
    font-size: 2rem;
    color: azure;
}

.newsletter {
    background: #eee;
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    max-width: 50rem;
    margin: auto;
}

.newsletter form h3 {
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.newsletter form {
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}

.newsletter form .box {
    width: 70%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border: var(--border);
    border-radius: .5rem;
    text-transform: none;
}

.arrivals .arrivals-slider .box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;

}

.arrivals .arrivals-slider .box .image img {
    height: 15rem;
}

.arrivals .arrivals-slider .box:hover {
    border: var(--border-hover);

}

.arrivals .arrivals-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.arrivals .arrivals-slider .box .content .price {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars {
    font-size: 1.5rem;
    color: var(--green);
}

.deal {
    background: #f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.deal .content {
    flex: 1 1 40rem;
}

.deal .image {
    flex: 1 1 42rem;
    text-align: center;
}

.deal .image img {
    height: 30rem;
}

.deal .content h3 {
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: .5rem;
}

.deal .content h1 {
    font-size: 4rem;
    color: var(--black);
}

.deal .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.reviews .reviews-slider .box {

    box-shadow: var(--box-shadow);
    border: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.reviews .reviews-slider .box:hover {
    border: var(--border-hover);
}

.reviews .reviews-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3 {
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.reviews .reviews-slider .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
    padding: 1rem 0;
}

.reviews .reviews-slider .box .stars {
    color: var(--green);
    font-size: 1.5rem;
}

.blogs .blogs-slider .box {
    border: var(--border);
    margin: 2rem 0;
}

.blogs .blogs-slider .box .image {
    overflow: hidden;
    height: 50rem;
    width: 100%;
}

.blogs .blogs-slider .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .3s linear;
    filter: brightness(70%);

}

.blogs .blogs-slider .box:hover .image img {
    transform: scale(1.1);
    
}

.blogs .blogs-slider .box .content {
    padding: 2rem;
    font-size: var(--black);
}

.blogs .blogs-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.blogs .blogs-slider .box .content p {
    font-size: 1.4rem;
    color: var(--light-color);
}

.blogs .blogs-slider .box .content a {
    font-size: 1.5rem;

}

.blogs .blogs-slider .box .content a:hover {
    text-decoration: underline;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 1rem;
}
.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--green);
}
.footer .box-container .box a:hover {
    color: var(--green);
    padding-right: 5.5rem;
}
.footer .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}
.footer .box-container .box p i {
    padding-right: 1rem;
    color: var(--green);
}
.footer .box-container .box .map {
    width: 100%;  
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin-right: .3rem;
    border-radius: 50%;
    background: var(--green);
    display: inline-block;
    text-align: center;
    line-height: 5rem;
    vertical-align: middle;
    margin: 0 .9rem;



}

.footer .share a:hover {
    background: var(--dark-color);
    transform: scale(1.1);
    box-shadow: var(--box-shadow);
}


.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color: var(--light-color);
}
.footer .credit span {
    color: var(--green);
    text-transform: uppercase;
    font-weight: bolder;
}




 


















/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 5%;
    }

    .header .header-1 {
        padding: 2rem;
    }
}

@media (max-width:768px) {

    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;

        .header .header-2 {
            display: none;
        }

        #search-btn {
            display: inline-block;
        }

        .bottom-navbar {

            display: block;
        }

        .header .header-1 {
            box-shadow: var(--box-shadow);
            position: relative;
        }

    }

    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active {
        top: 115%;
    }

    .home .row .content {
        text-align: center;
        flex: 11 1 100%;
    }

    .home .row .content h3 {
        font-size: 8rem;
        color: var(--black);
        text-transform: uppercase;
    }

    @media (max-width:450px) {
        html {
            font-size: 50%;
        }
    }
}